.row {
    display: block;
    justify-content: center;
}

.box{
    margin: 10px;
    padding: 20px;
    background-color: orange;
}
.name-container{
    text-align: center;
    margin-bottom: 20px;
}
.products-container{
    display: flex;
}
.quanity-container {
    margin-bottom: 10px;
}